.example-viewport {
  min-height: 420px;
  height: 420px;
}

@media (max-width: 575.98px) {
  .list-container > .list-container__item {
    padding: 0.407rem 0.25rem;
  }
  .card__body {
    padding: 0.5rem;
  }
}
