<div
  class="flex-container flex-container--row flex-container--grid flex-container--ax-between"
>
  <div *ngIf="loading$ | async" class="flex-container__item --col-xs-12">
    <app-loading-spin></app-loading-spin>
  </div>
  <div class="flex-container__item --col-xs-12 --col-md-4 --col-lg-2">
    <div *ngIf="model$ | async as model">
      <div
        class="flex-container flex-container--row flex-container--grid flex-container--ax-around"
      ></div>
    </div>
  </div>
  <div class="flex-container__item --col-xs-12 --col-md-8 --col-lg-10">
    <router-outlet></router-outlet>
  </div>
  <div class="flex-container__item --col-12">
    <app-arena-detail-battle-records></app-arena-detail-battle-records>
  </div>
</div>
