a {
  color: #333;
  text-decoration: none;
}

.selected-card {
  background-color: #6165f7;
  border: none;
  box-shadow: none;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}
