<div class="card">
  <div class="card__header">
    <div
      class="flex-container flex-container--row flex-container--grid flex-container--ax-between"
    >
      <div class="flex-container__item">
        <h4>
          <fa-icon icon="medal"></fa-icon>
          Arena {{ arenaNum }}
        </h4>
      </div>
      <div class="flex-container__item">
        <p class="subtitle">
          <fa-icon icon="calendar-day"></fa-icon> Fecha:
          <span class="paragraph2">
            {{ model.date | date: 'MMM d, y, h:mm:ss a' }}
          </span>
        </p>
        <p class="subtitle">
          <fa-icon icon="stopwatch"></fa-icon> Duración:
          <span class="paragraph2"> {{ model.elapsedMiliseconds }}ms </span>
        </p>
      </div>
    </div>
  </div>
  <div class="card__body">
    <div
      class="flex-container flex-container--row 
      flex-container--grid flex-container--ax-between 
      flex-container--ay-center"
    >
      <div class="flex-container__item">
        <p class="paragraph2">{{ model.stepCount }} encuentros</p>
      </div>
      <div class="flex-container__item">
        <a
          [routerLink]="['../', model.id]"
          class="btn btn--primary btn-xs btn--round"
        >
          Ver resultados <fa-icon icon="scroll"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
