.virtual-viewport {
  height: 95vh;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.--btn-dex-entry {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 80px;
  height: 80px;
  align-items: center;
}

@media (max-width: 575.98px) {
  .virtual-viewport {
    height: 80vh;
  }
}
