<div class="card">
  <div class="card__header">
    <div
      class="flex-container flex-container--row flex-container--grid 
            flex-container--s-none flex-container--ay-center
            flex-container--ax-between"
    >
      <div class="flex-container__item">
        <p class="s1">Pokemon seleccionados</p>
      </div>
      <div class="flex-container__item">
        <app-sumbit-button
          btnText="Empezar torneo"
          btnClass="btn btn--xs btn--round btn--primary"
          [disabled]="model.length === 0"
          icon="play"
          [isLoading$]="submitting$"
          (onClicked)="startArena()"
        >
        </app-sumbit-button>
      </div>
    </div>
  </div>
  <div *ngIf="modelLoading$ | async" class="card__body">
    <div class="flex-container flex-container--row flex-container--ax-center">
      <div class="flex-container__item">
        <app-loading-bars></app-loading-bars>
      </div>
    </div>
  </div>
  <div *ngIf="model" class="card__body">
    <div
      @list
      cdkDropList
      class="example-list list-container"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="list-container__item"
        *ngFor="let listedItem of model"
        cdkDrag
      >
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div
          @items
          class="flex-container flex-container--ax-between 
          flex-container--ay-baseline flex-container--row 
          flex-container--s-none --bg-white"
        >
          <div class="flex-container__item --col-1">
            <div cdkDragHandle>
              <button
                class="btn btn--grab btn--primary btn--translucid btn--sm"
              >
                <fa-icon icon="arrows-alt"></fa-icon>
              </button>
            </div>
          </div>
          <div class="flex-container__item --col-11">
            <app-pokemon-selection-list-item
              [model]="listedItem"
              [addingItem]="false"
            >
            </app-pokemon-selection-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
