<div class="poke-container">
  <div
    class="flex-container flex-container--row flex-container--grid 
    flex-container--ax-between flex-container--ay-center flex-container--sy-none"
  >
    <div class="flex-container__item">
      <app-pokemon-icon [pokemonName]="model.pokemon.name"></app-pokemon-icon>
      <span class="subtitle2"> #{{ model.pokemon.dexNum }}: </span>
      <span class="poke-name paragraph2">{{ model.pokemon.name }} </span>
    </div>
    <div class="flex-container__item">
      <button (click)="btnActionClickHandler()" [ngClass]="[btnClass]">
        <fa-icon [icon]="btnIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
