.icon {
  font: x-small sans-serif;
  color: #fff;
  line-height: 1.5em;
  direction: ltr;
  font-size: 100%;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;

  &.type-normal {
    background: #a8a878;
    border: 1px solid #6d6d4e;
  }
  &.type-fighting {
    background: #c03028;
    border: 1px solid #7d1f1a;
  }
  &.type-flying {
    background: #a890f0;
    border: 1px solid;
  }
  &.type-poison {
    background: #a040a0;
    border: 1px solid #682a68;
  }
  &.type-ground {
    background: #e0c068;
    border: 1px solid #927d44;
  }
  &.type-rock {
    background: #b8a038;
    border: 1px solid #786824;
  }
  &.type-normal {
    background: #a8a878;
    border: 1px solid #6d6d4e;
  }
  &.type-bug {
    background: #a8b820;
    border: 1px solid #6d7815;
  }
  &.type-ghost {
    background: #705898;
    border: 1px solid #493963;
  }
  &.type-steel {
    background: #b8b8d0;
    border: 1px solid #787887;
  }
  &.type-fire {
    background: #f08030;
    border: 1px solid #9c531f;
  }
  &.type-water {
    background: #6890f0;
    border: 1px solid #445e9c;
  }
  &.type-grass {
    background: #78c850;
    border: 1px solid #4e8234;
  }
  &.type-electric {
    background: #f8d030;
    border: 1px solid #a1871f;
  }
  &.type-psychic {
    background: #f85888;
    border: 1px solid #a13959;
  }
  &.type-ice {
    background: #98d8d8;
    border: 1px solid #638d8d;
  }
  &.type-dragon {
    background: #7038f8;
    border: 1px solid #4924a1;
  }
  &.type-dark {
    background: #705848;
    border: 1px solid #49392f;
  }
  &.type-fairy {
    background: #ee99ac;
    border: 1px solid #9b6470;
  }
}
